@tailwind base;
@tailwind components;
@tailwind utilities;

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    height: 100vh;
    position: relative;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.player-name {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
}

.cards {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.face-down {
    display: flex;
    justify-content: center;
    align-items: center;
}

.face-up {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
}

.hand {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    margin: 0px;
}

.card {
    width: 40px;
    height: 90%;
    margin: 20px;
    transition: transform 0.3s ease;
}

.tilted-card {
    transform: rotate(10deg);
}

.card img {
    width: 100%;
    height: auto;
}

/* Bottom player - cards point upward */
.bottom-player {
    position: absolute;
    bottom: 10px;
    left: 40%;
}

.bottom-player .hand .card {
    transform: translateY(-20px) rotate(0deg);
}

/* Top player - cards point downward */
.second-player {
    position: absolute;
    top: 0%;
    left: 40%;
}

.second-player .hand .card {
    transform: translateY(20px) rotate(180deg);
}

/* Left player - cards point right */
.third-player {
    position: absolute;
    left: -4%;
    top: 40%;
}

.third-player .hand .card {
    transform: translateX(20px) rotate(90deg);
}

/* Right player - cards point left */
.four-player {
    position: absolute;
    right: -4%;
    top: 40%;
}

.four-player .hand .card {
    transform: translateX(-20px) rotate(-90deg);
}

.card.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

/* Hover effect for cards */
.card:hover:not(.disabled) {
    transform: scale(1.1);
    z-index: 10;
}


.hand-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -150px;
}

.hand-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px;
}

.hand-left {
    /* Styles for left player's hand */
}

.hand-right {
    /* Styles for right player's hand */
}
